/* clearfix */
.cf:before,
.cf:after {
   content: " ";
   display: table;
}

.cf:after {
   clear: both;
}

.cf {
   *zoom: 1;
}

html,body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	color: #222;
	background: #e7ecf3;
background: -moz-linear-gradient(-45deg, #e7ecf3 0%, #b5b4c7 100%);
background: -webkit-linear-gradient(-45deg, #e7ecf3 0%,#b5b4c7 100%);
background: linear-gradient(135deg, #e7ecf3 0%,#b5b4c7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7ecf3', endColorstr='#b5b4c7',GradientType=1 );
}

@font-face{
    font-family: "Code Bold";
    src: url('../fonts/TsukushiAMaruGothic.woff') format('woff'),
    url('../fonts/TsukushiAMaruGothic.ttf')  format('truetype');
}


p,a {
	color: #222;
	text-decoration: none;
}

a:hover {
	color: #888;
}



header ul li {
	list-style: none;
}

#js-accordion {
	display: block;
	z-index: 99999;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 4;
}


.header .header__heading {
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.nav-content {
  position: absolute;
  width: 100%;
  top: -735px;
  z-index: 3;
  -webkit-transition: 1.5s top;
          transition: 1.5s top;
}
.nav-content ul li {
  font-size: 22px;
  font-size: 2.2rem;
}
.nav-content ul li a {
  text-align: center;
  display: block;
  padding: 20px 0px;
  color: #888;
  text-decoration: none;
}

.is-open .nav-content {
  top: 50px;
}

#js-cover {
  background: #fff;
  width: 100%;
  height: 200px;
  display: block;
  position: fixed;
  top: 0px;
  opacity: 0;
  z-index: 1;
}

.menu-button {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 8px;
  top: 8px;
}
.menu-button i {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: #888;
  -webkit-transition: background 0.5s;
          transition: background 0.5s;
  position: relative;
  left: 5px;
  top: 14px;
}
.menu-button i:before,
.menu-button i:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: #888;
  position: absolute;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s !important;
          transition: all 0.3s !important;
}
.menu-button i:before {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}
.menu-button i:after {
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}

.is-open .menu-button i {
  background: transparent;
}
.is-open .menu-button i:after {
  -webkit-transform: translateY(0px) rotate(-45deg);
      -ms-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}
.is-open .menu-button i:before {
  -webkit-transform: translateY(0px) rotate(45deg);
      -ms-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
}




.borders div {
	position: fixed;
	background: #fff;
	z-index: 9999;
}

.borders .top,.borders .bottom {
	width: 100%;
	height: 40px;
}

.borders .right,.borders .left {
	width: 40px;
	height: 100%;
}

.borders .top {
	top: 0;
}

.borders .right {
	right: 0;
}

.borders .bottom {
	bottom: 0;
}

.borders .left {
	left: 0;
}


.main-visual {
	width: 100%;
	height: 100%;
}

.main-visual .logo {
	margin: 0 auto;
	width: 200px;
}

.main-visual .logo img {
	width: 200px;
}

